/* Fonts styles */
body{
    font-family: 'Luxurious Roman', cursive;
}

/* header section styles */

.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 100px;
} 
nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin-right: 25px;
}

/* Banner section styles */
.banner{
    display: flex;
    margin: 100px;
    font-size: 30px;

    
}
.top-banner{
    width: 50%;
    margin-top: 50px;
    align-items: center;
    margin-right: 20px;
    
    
    

}
.top-banner img {
    width: 80%;
    margin-left: 200px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    
    
}
.top-banner:hover img{
    transform: scale(1.5) rotate(30deg);
    transition: transform 3s;
}
button{
    padding: 15px 40px 15px 40px;
    margin: 10px;
    border: 0px solid;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    background-color: lightcoral;
}

/* Logo Section Styles */

hr{
    margin: 10px 200px 10px 200px;
}


nav  {
   
    margin-left:250px;
    background-color: wheat;
    padding: 10px;
  
}
nav img{
    padding: 20px;
    width: 120px;
}

/* Products Section Styles */

.collection{
    margin: 200px;
    margin-top: 0;
}
.collection>a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-left: 77%;
    color: hotpink;
    
    
    
}
.collection h1{

    text-align: center;
    font-size: 50px;
    margin-top: 80px;
    
}

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
   
}
.each-product{
    width: 80%;
    padding: 5%;
    border-radius: 10px;
    margin: 10px;
    margin-right: 10px;
    box-shadow:10px 10px 50px lightgray;
    
}
.product-details {
    font-size: 20px;
}
.product-details p{
    font-weight: 700;
    
}
.product-rating i{
    color: goldenrod;
    font-size: 10px;
}
.product-rating p{
    font-weight: 600;
    color: grey;
}
span{
    margin-left: 10px;
    font-weight: 700;
}
/* Contact section styles */
.contact{
    text-align: center;
    font-size:30px;
    margin-bottom: 0px;
}
.contact-info{
    margin-top: 0px;
    background-color: rgb(229, 231, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.from{
    padding: 10px;
    margin-left: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
.details{
    margin-left: 100px;
    font-size: 30px;
}

/* footer section styles */
footer{
    text-align: center;
    background-color: black;
    color:white;
    margin-top: 50px;
    font-size: 20px;
}
footer a{
    font-size: 40px;
    padding: 10px;
    color: white;
}
/* Media Queries */
/* Moblie Device  */
@media only screen and (max-width:600px) {
    .container{
        width:400px;
        font-size: 20px;
        margin-left: 0px;
    }
    .container nav{
        display: none;
    }
    .banner{
        width: 100px;
        margin:200px;

        
    }
    
    
    .products{
        margin-left: 0px;
        margin-right: 200px;
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        
    }
    .contact{
        font-size: 30px;
        text-align: center;
        margin-left: 200px;
    }
    .contact-info{
        width: 100%;
        background-color: rgb(229, 231, 233);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .from{
        font-size: 20px;
        margin-left: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 40px grey;
    }  
    .details{
        margin-left: 50px;
        margin-right: 200px;
        font-size: 20px;
    } 
    footer{
        width: 400px;
    }

}

/* Ipad device */
@media only screen and (min-width:768px) and (max-width:1024) {
    .container{
        width:100%;
        font-size: 30px;
    }
    .banner{
        margin-right: 0px;
    }
    .products{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }

    
}
